extends baseEmail

block content
  p Hi #{firstName},
  p forgot your password ? submit a patch requrest with passowrd and resetpassword to the reset link #{url};
  p (website for this action not yet impelemnted)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') reset Your password
  p .\n if you didint please ignore this email`